
<body class="light-grey">

  <div class="content" style="max-width:1400px">

    <!-- Header -->
    <div class="container center padding-32">
      <h1>
        <b>
          <%= @product.title %>
        </b>
      </h1>
      <p>Like(
        <%= @product.like %>) comment(<%#= @product.comments.count %>)</p>
        </div>

    <!-- Grid -->
    <div class="row">

      <!-- Blog entries -->
      <div class="col l8 s12">
        <!-- Blog entry -->
        <div class="card-4 margin white">
          <%= image_tag  @product.image_url, width: "100%" %>
            <div class="container">
              <h3>
                <b>TITLE HEADING</b>
              </h3>
              <h5>
                <span class="opacity"><%= @product.created_at %></span>
              </h5>
            </div>

            <div class="container">
              <p><%= @product.description %></p>
              <div class="row">
                <div class="col m8 s12">
                  <p>
                    <button class="button padding-large white border">
                      <b>READ MORE »</b>
                    </button>
                  </p>
                </div>
                <div class="col m4 hide-small">
                  <p>
                    <span class="padding-large right">
                      <b>Comments  </b>
                      <span class="tag"><%#= @product.comments.count %></span>
                    </span>
                  </p>
                </div>
              </div>
            </div>
        </div>
        <div class="card margin">
          <div class="container padding">
            <h4>Related Articles</h4>
          </div>

          <div class="row-padding">
            <%= link_to  '#' do %>
              <div class="col l4 m6 margin-bottom">
                <div class="display-container">
                  <div>Title 1</div>
                  <%= image_tag  "abc.jpg", :alt => "Image Articles", :width => "95%" %>
                </div>
              </div>
            <% end %>
            <%= link_to  '#' do %>
              <div class="col l4 m6 margin-bottom">
                <div class="display-container">
                  <div>Title 2</div>
                  <%= image_tag  "abc.jpg", :alt => "Image Articles", :width => "95%" %>
                </div>
              </div>
            <% end %>
            <%= link_to  '#' do %>
              <div class="col l4 m6 margin-bottom">
                <div class="display-container">
                  <div>Title 3</div>
                  <%= image_tag  "abc.jpg", :alt => "Image Articles", :width => "95%" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <!-- Introduction menu -->
      <div class="col l4">
        <div class="card margin margin-top">
          <%= image_tag  "abc.jpg", :alt => "Image Articles", width: "100%", :id => "borderimg1" %>
          <div class="container white">
            <h4>
              <b>Author Name</b>
            </h4>
            <h5>Posts(<%#= @product.post.count %>)</h5>
          </div>
        </div>


        <div class="card margin">
          <div class="container padding">
            <h1>Comment</h1>
          </div>
          <div class="container white">
            <h3>comment 1</h3>
            <h3>comment 2</h3>
            <h3>comment 3</h3>
            <br>
          </div>
        </div>

        <!-- Labels / tags -->
        <div class="card margin">
          <div class="container padding">
            <h4>Tags</h4>
          </div>
          <div class="container white">
            <p>
              <span class="tag black margin-bottom">Travel</span>
              <span class="tag light-grey small margin-bottom">New York</span>
              <span class="tag light-grey small margin-bottom">London</span>
              <span class="tag light-grey small margin-bottom">IKEA</span>
              <span class="tag light-grey small margin-bottom">NORWAY</span>
              <span class="tag light-grey small margin-bottom">DIY</span>
              <span class="tag light-grey small margin-bottom">Ideas</span>
              <span class="tag light-grey small margin-bottom">Baby</span>
              <span class="tag light-grey small margin-bottom">Family</span>
              <span class="tag light-grey small margin-bottom">News</span>
              <span class="tag light-grey small margin-bottom">Clothing</span>
              <span class="tag light-grey small margin-bottom">Shopping</span>
              <span class="tag light-grey small margin-bottom">Sports</span>
              <span class="tag light-grey small margin-bottom">Games</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
